pipeline/ADF_Full_Load_Pipeline.json
{
	"name": "ADF_Full_Load_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "LKP_Activity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Datalake_input",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_Activity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_Activity').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DelimitedText8",
									"type": "DatasetReference",
									"parameters": {
										"Folder": {
											"value": "@item().SourceFile",
											"type": "Expression"
										},
										"File": {
											"value": "@item().SourceFolder",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedText9",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@item().BlobFolder",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().BlobFile",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP_Status_Outputreadrows",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Update_Metadata_Status]",
								"storedProcedureParameters": {
									"StatusofSource": {
										"value": {
											"value": "@activity('Copy data1').Status",
											"type": "Expression"
										},
										"type": "String"
									},
									"tablename": {
										"value": {
											"value": "@item().SourceFolder",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputRows": {
										"value": {
											"value": "@activity('Copy data1').output.dataRead",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Datalake_output_SQL",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Datalake_input",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_Activity').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CPY_datalake_sql",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DelimitedText10",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@item().BlobFolder",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().BlobFile",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable3",
									"type": "DatasetReference",
									"parameters": {
										"SqlSchema": {
											"value": "@item().SQLSchema",
											"type": "Expression"
										},
										"SqlTable": {
											"value": "@item().SQLTable",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-03-10T17:50:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}